.terraform/

# Terraform state files
terraform.tfstate
terraform.tfstate.*
.terraform.tfstate.lock.info

# Terraform plan files
*.tfplan

# Crash logs
crash.log
crash.*.log

# CLI config
.terraformrc
terraform.rc

# IDE / OS
.vscode/
.idea/
.DS_Store

# SSH keys
*.pem

# Env files
*.env

